<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ParajectDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Core\Database\ParajectDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>