<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<!-- The MASTER Directory-->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- All App files -->

			<!-- AppData\Local Folder-->
			<!-- to install in AppData\Local folder: 
				 1. Right click to this project (Paraject.Installer)
				 2. Select Properties
				 3. Select Tool Settings
				 4. Check the Suppress ICE validation
				 5. Build the installer -->
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)" />
			</Directory>

			<!-- Start Menu Shortcut (exe only) -->
			<Directory Id="ProgramMenuFolder"/>

			<!-- Desktop Shortcut -->
			<Directory Id="DesktopFolder" Name ="Desktop"/>
		</Directory>
	</Fragment>
</Wix>
